# Preprocessing Practice 100 - Pandas
출처: [판다스 연습 튜토리얼](https://www.datamanim.com/dataset/99_pandas/pandasMain.html)

In [ ]:
import pandas as pd
import datetime

## 01 Getting & Knowing Data

**1. 롤 랭킹 데이터를 불러오라.**

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df = pd.read_csv(DataUrl,sep='\t')

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

**2. 데이터의 상위 5개 행을 출력하라.**

In [ ]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

**3. 데이터의 행과 열의 개수를 파악하라.**

In [ ]:
print('행의 개수:', df.shape[0])
print('열의 개수:', df.shape[1])

행의 개수: 51490
열의 개수: 61

**4. 전체 칼럼을 출력하라.**

In [ ]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

**5. 6번째 칼럼명을 출력하라.**

In [ ]:
df.columns[5]

'firstBlood'

**6. 6번째 칼럼의 데이터 타입을 확인하라.**

In [ ]:
df.iloc[:,5].dtype

dtype('int64')

**7. 데이터셋의 인덱스 구성은 어떠한가?**

&nbsp;&nbsp;&nbsp; The index property returns the index information of the DataFrame.

&nbsp;&nbsp;&nbsp; The index information contains the labels of the rows. If the rows has NOT named indexes, the index property returns a RangeIndex object with the start, stop, and step values.

In [ ]:
df.index

RangeIndex(start=0, stop=51490, step=1)

**8. 6번째 칼럼의 3번째 값은 무엇인가?**

In [ ]:
df.iloc[2,5]

2

**9. 제주 날씨, 인구에 따른 교통량 데이터를 불러오라. 칼럼이 한글이므로 적절히 처리하라.**

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/Jeju.csv'
df = pd.read_csv(DataUrl, encoding='euc-kr')

**10. 데이터 마지막 3개 행을 출력하라.**

In [ ]:
df.tail(3)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
9618,32066,2020-04-30,제주시,도두동,28397.481,3144.895,84052.697,115595.073,41.053,29.421,20.3,0.0,3.0
9619,32067,2020-04-30,서귀포시,안덕면,348037.846,29106.286,251129.660,628273.792,46.595,49.189,17.6,0.0,3.5
9620,32068,2020-04-30,제주시,연동,1010643.372,65673.477,447622.068,1523938.917,40.863,27.765,14.1,0.0,4.8

**11. 수치형 변수를 가진 칼럼을 출력하라.**

In [ ]:
df.select_dtypes(exclude='object').columns

Index(['id', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도', '평균 소요 시간', '평균 기온',
       '일강수량', '평균 풍속'],
      dtype='object')

**12. 범주형 변수를 가진 칼럼을 출력하라.**

In [ ]:
df.select_dtypes(include='object').columns

Index(['일자', '시도명', '읍면동명'], dtype='object')

**13. 각 칼럼의 결측치 숫자를 파악하라.**

In [ ]:
df.isna().sum()

id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

**14. 각 칼럼의 데이터수, 데이터타입을 한 번에 확인하라.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9621 entries, 0 to 9620
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        9621 non-null   int64
 1   일자        9621 non-null   object
 2   시도명       9621 non-null   object
 3   읍면동명      9621 non-null   object
 4   거주인구      9621 non-null   float64
 5   근무인구      9621 non-null   float64
 6   방문인구      9621 non-null   float64
 7   총 유동인구    9621 non-null   float64
 8   평균 속도     9621 non-null   float64
 9   평균 소요 시간  9621 non-null   float64
 10  평균 기온     9621 non-null   float64
 11  일강수량      9621 non-null   float64
 12  평균 풍속     9621 non-null   float64
dtypes: float64(9), int64(1), object(3)
memory usage: 977.3+ KB

**15. 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대, 최소)를 확인하라.**

In [ ]:
df.describe()

,id,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,9621.000000,9.621000e+03,9621.000000,9621.000000,9.621000e+03,9621.000000,9621.000000,9621.000000,9621.000000,9621.000000
mean,27258.000000,3.174315e+05,35471.201510,195889.561802,5.487922e+05,41.109084,37.215873,13.550828,6.972426,2.753171
std,2777.487804,2.982079e+05,40381.214775,140706.090325,4.608802e+05,8.758631,12.993786,7.745515,27.617260,1.498538
min,22448.000000,9.305552e+03,1407.936000,11538.322000,2.225181e+04,24.333000,12.667000,-9.600000,0.000000,0.000000
25%,24853.000000,9.539939e+04,12074.498000,99632.153000,2.216910e+05,34.250000,27.889000,7.600000,0.000000,1.700000
50%,27258.000000,2.221105e+05,21960.928000,152805.335000,3.866935e+05,39.640000,34.500000,13.400000,0.000000,2.400000
75%,29663.000000,4.106671e+05,40192.032000,236325.109000,6.406918e+05,49.105000,46.176000,19.700000,1.500000,3.400000
max,32068.000000,1.364504e+06,263476.965000,723459.209000,2.066484e+06,103.000000,172.200000,30.400000,587.500000,13.333000

**16. 거주인구 칼럼의 값들을 출력하라.**

In [ ]:
df['거주인구']

0         32249.987
1        213500.997
2       1212382.218
3         33991.653
4        155036.925
           ...
9616     228260.005
9617     459959.064
9618      28397.481
9619     348037.846
9620    1010643.372
Name: 거주인구, Length: 9621, dtype: float64

**17. 평균 속도 칼럼의 4분위 범위(IQR) 값을 구하여라.**

In [ ]:
df['평균 속도'].describe()[6] - df['평균 속도'].describe()[4]
# 위는 내 풀이. 모범답안은 df['평균 속도'].quantile(0.75) -df['평균 속도'].quantile(0.25)

14.854999999999997

**18. 읍면동명 칼럼의 유일값 갯수를 출력하라.**

In [ ]:
len(df['읍면동명'].unique())
# 모범답안은 df.읍면동명.nunique()

41

**19. 읍면동명 칼럼의 유일값을 모두 출력하라.**

In [ ]:
df['읍면동명'].unique()

array(['도두동', '외도동', '이도2동', '일도1동', '대천동', '서홍동', '한경면', '송산동', '조천읍',
       '일도2동', '영천동', '예래동', '대륜동', '삼도1동', '이호동', '건입동', '중앙동', '삼양동',
       '삼도2동', '이도1동', '남원읍', '대정읍', '정방동', '효돈동', '아라동', '한림읍', '구좌읍',
       '용담1동', '오라동', '화북동', '연동', '표선면', '중문동', '성산읍', '안덕면', '천지동',
       '노형동', '동홍동', '용담2동', '봉개동', '애월읍'], dtype=object)

## 02 Filtering & Sorting

**20. 식당데이터를 불러오라.**

In [ ]:
DataUrl = 'https://raw.githubusercontent.com/Datamanim/pandas/main/chipo.csv'
df = pd.read_csv(DataUrl)
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

**21. quantity 칼럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라.**

In [ ]:
df[df['quantity'] == 3].head(5)

,order_id,quantity,item_name,choice_description,item_price
409,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
689,284,3,Canned Soft Drink,[Diet Coke],$3.75
818,338,3,Bottled Water,NaN,$3.27
850,350,3,Canned Soft Drink,[Sprite],$3.75

**22. quantity 칼럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라.**

In [ ]:
df[df['quantity'] == 3].head().reset_index(drop=True)   # drop=True로 두어야 409, 445, ... 로 이루어진 새 열로 안 들어오고 사라짐

,order_id,quantity,item_name,choice_description,item_price
0,178,3,Chicken Bowl,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$32.94
1,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20
2,284,3,Canned Soft Drink,[Diet Coke],$3.75
3,338,3,Bottled Water,NaN,$3.27
4,350,3,Canned Soft Drink,[Sprite],$3.75

**23. quantity, item_price 두 개의 칼럼으로 구성된 새로운 데이터프레임을 정의하라.**

In [ ]:
df.loc[:, ['quantity', 'item_price']]
# 혹은 df[['quantity', 'item_price']]

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

**24. item_price 칼럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 칼럼에 저장하라.**

In [ ]:
df['new_price'] = df['item_price'].str[1:].astype('float')
df['new_price'].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: new_price, dtype: float64

**25. new_price 칼럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라.**

In [ ]:
df[df['new_price'] <= 5].count()
# 모범답안: len(df.loc[df.new_price <= 5])

order_id              1652
quantity              1652
item_name             1652
choice_description     450
item_price            1652
new_price             1652
dtype: int64

**26. item_name 명이 Chicken Salad Bowl 인 데이터프레임을 추출하고 index값을 초기화하여라.**

In [ ]:
df[df['item_name'] == 'Chicken Salad Bowl'].reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
1,60,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50
2,94,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$22.50,22.50
3,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
4,137,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, Fajita Vegetables]",$17.50,17.50
...,...,...,...,...,...,...
105,1813,2,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50
106,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",$11.25,11.25
107,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
108,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
109,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

**27. new_price 값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터프레임을 추출하라.**

In [ ]:
condition = (df['new_price'] <= 9) & (df['item_name'] == 'Chicken Salad Bowl')
df[condition].head()

,order_id,quantity,item_name,choice_description,item_price,new_price
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75
256,111,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75,8.75
526,220,1,Chicken Salad Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",$8.75,8.75
528,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75
529,221,1,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75,8.75

**28. df의 new_price 칼럼 값에 따라 오름차순으로 정리하고 index를 초기화하여라.**

In [ ]:
df.sort_values(by='new_price', ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,471,1,Bottled Water,NaN,$1.09,1.09
1,338,1,Canned Soda,[Coca Cola],$1.09,1.09
2,1575,1,Canned Soda,[Dr. Pepper],$1.09,1.09
3,47,1,Canned Soda,[Dr. Pepper],$1.09,1.09
4,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
...,...,...,...,...,...,...
4617,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
4618,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4619,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
4620,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
4621,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25

**29. df의 item_name 칼럼 값 중 Chips 포함하는 경우의 데이터를 출력하라.**

In [ ]:
df.loc[df.item_name.str.contains('Chips')].head()
# 이건 몰랐네!

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
6,3,1,Side of Chips,NaN,$1.69,1.69
10,5,1,Chips and Guacamole,NaN,$4.45,4.45
14,7,1,Chips and Guacamole,NaN,$4.45,4.45

**30. df의 짝수 번(0,2,4,...)째 칼럼만을 포함하는 데이터프레임을 출력하라.**

In [ ]:
df.iloc[:, [i for i in range(len(df.columns)) if i % 2 == 0]].head()
# 모범답안: df.iloc[:, ::2]

   order_id                              item_name item_price
0         1           Chips and Fresh Tomato Salsa     $2.39
1         1                                   Izze     $3.39
2         1                       Nantucket Nectar     $3.39
3         1  Chips and Tomatillo-Green Chili Salsa     $2.39
4         2                           Chicken Bowl    $16.98

**31. df의 new_price 칼럼 값에 따라 내림차순으로 정리하고 index를 초기화하여라.**

In [ ]:
df.sort_values('new_price', ascending=False).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
1,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
2,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
4,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
4617,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
4618,1162,1,Bottled Water,NaN,$1.09,1.09
4619,567,1,Canned Soda,[Coca Cola],$1.09,1.09
4620,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
4621,591,1,Canned Soda,[Sprite],$1.09,1.09

**32. df의 item_name 칼럼 값이 steak Salad 또는 Bowl 인 데이터를 인덱싱하라.**

In [ ]:
condition = (df['item_name'] == 'Steak Salad') | (df['item_name'] == 'Bowl')
df[condition]

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
752,311,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99
893,369,1,Steak Salad,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$8.99,8.99
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

**33. df의 item_name 칼럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터프레임화 한 후 , item_name을 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라.**

In [ ]:
df_temp = df[condition].copy()
df_temp.drop_duplicates('item_name')
# 나는 그냥 duplicates 쳤다가 틀렸다, 정답은 drop_duplicates였다.

,order_id,quantity,item_name,choice_description,item_price,new_price
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.20
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$8.99,8.99

**34. df의 item_name 칼럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name을 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라.**

In [ ]:
df_temp = df[condition].copy()
df_temp.drop_duplicates('item_name', keep='last')
# 주피터 도움말 보고 해결함

,order_id,quantity,item_name,choice_description,item_price,new_price
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.40
3502,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69,8.69

**35. df의 데이터 중 new_price 값이 new_price 값의 평균값 이상을 가지는 데이터를 인덱싱하라.**

In [ ]:
average_of_new_price = df['new_price'].mean()
df[df['new_price'] >= average_of_new_price]
# 정답은 loc 메서드를 사용하고 변수를 지정 안 했다. 위의 경우 코드가 짧으니 그냥 변수 지정 안 하는 게 더 나을 것 같다.

,order_id,quantity,item_name,choice_description,item_price,new_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

**36. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라. (izze에서 첫글자가 대문자 I임)**

In [ ]:
df['item_name'].replace({'Izze': 'Fizzy Lizzy'}, inplace=True)
print(df.head())
# 모범답안:
# df.loc[df.item_name == 'Izze', 'item_name'] = 'Fizzy Lizzy'

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                            Fizzy Lizzy
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

**37. df의 데이터 중 choice_description 값이 NaN인 데이터의 개수를 구하여라.**

In [ ]:
df['choice_description'].isna().sum()

1246

**38. df의 데이터 중 choice_description 값이 NaN인 데이터를 NoData 값으로 대체하라(loc 이용).**

In [ ]:
df.loc[df['choice_description'].isna(), 'choice_description'] = 'NoData'
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NoData,$2.39
1,1,1,Fizzy Lizzy,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NoData,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

**39. df의 데이터 중 choice_description 값이 Black이 들어가는 경우를 인덱싱하라.**

In [ ]:
df[df['choice_description'].str.contains('Black')]
# df.loc[df['choice_description'].str.contains('Black')]
# df.loc[df['choice_description'].str.contains('Black'), : ]
# 셋 다 가능

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
...,...,...,...,...,...
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75

**40. df의 데이터 중 choice_description 값에 Vegetables 이 들어가지 않는 경우의 개수를 출력하라.**

In [ ]:
len(df[~(df['choice_description'].str.contains('Vegetables'))])
# 모범답안: Ans = len(df.loc[~df.choice_description.str.contains('Vegetables')])

3900

**41. df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라.**

In [ ]:
df[df['item_name'].str[0] == 'N'].head()
# 모범답안: df[df.item_name.str.startswith('N')]

,order_id,quantity,item_name,choice_description,item_price
2,1,1,Nantucket Nectar,[Apple],$3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
173,77,1,Nantucket Nectar,[Apple],$3.39
205,91,1,Nantucket Nectar,[Peach Orange],$3.39

**42. df의 데이터 중 item_name 값의 단어 길이가 15개 이상인 데이터를 인덱싱하라.**

In [ ]:
# 모범답안:
df[df['item_name'].str.len() >= 15].head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

**43. df의 데이터 중 new_price 값이 lst에 속하는 경우의 데이터 프레임을 구하고 그 개수를 출력하라.**
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

In [ ]:
lst = [1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]
ans = df[df['new_price'].isin(lst)]
display(ans.head())
print(ans.shape[0])
# 모범답안: Ans = df.loc[df.new_price.isin(lst)]

,order_id,quantity,item_name,choice_description,item_price,new_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

1393

## 03 Grouping

**44. 데이터를 불러오고 상위 5개의 행을 출력하라.**

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/pandas/main/AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

**45. 데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라.**

In [ ]:
df['host_name'].value_counts().sort_index().head()

# 오 찍었는데 맞았...으나 sort_index를 생각 못함 ㅠ
# 모범답안:
# Ans = df.groupby('host_name').size()
# or
# Ans = df.host_name.value_counts().sort_index()

'Cil                        1
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    6
(Mary) Haiy                 1
-TheQueensCornerLot         1
Name: host_name, dtype: int64

**46. 데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 칼럼(열)은 counts로 명명하라.**

In [ ]:
# 모범답안:
ans = (
    df.groupby('host_name')
      .size().to_frame()
      .rename(columns={0: 'counts'})
      .sort_values('counts', ascending=False)
)
ans.head()

              counts
host_name
Michael          417
David            403
Sonder (NYC)     327
John             294
Alex             279

**47. neighbourhood_group의 값에 따른 neighbourhood 칼럼 값의 개수를 구하여라.**

In [ ]:
df.groupby(['neighbourhood_group', 'neighbourhood']).size()
# 번역이 매끄럽진 않다.
# 모범답안: Ans = df.groupby(['neighbourhood_group','neighbourhood'], as_index=False).size()

neighbourhood_group  neighbourhood
Bronx                Allerton         42
                     Baychester        7
                     Belmont          24
                     Bronxdale        19
                     Castle Hill       9
                                      ..
Staten Island        Tottenville       7
                     West Brighton    18
                     Westerleigh       2
                     Willowbrook       1
                     Woodrow           1
Length: 221, dtype: int64

**48. neighbourhood_group 의 값에 따른 neighbourhood 칼럼 값 중 neighbourhood_group 그룹의 최댓값을 출력하라.**

In [ ]:
# 생각하기가 약간 쉽지 않다.
# 모범답안:
ans = (
    df.groupby(['neighbourhood_group','neighbourhood'], as_index=False)
      .size()
      .groupby(['neighbourhood_group'], as_index=False)
      .max()
)
ans.head()

  neighbourhood_group    neighbourhood  size
0               Bronx         Woodlawn    70
1            Brooklyn  Windsor Terrace  3920
2           Manhattan     West Village  2658
3              Queens         Woodside   900
4       Staten Island          Woodrow    48

**49. neighbourhood_group 값에 따른 price 값의 평균, 분산, 최대, 최소 값을 구하여라.**

In [ ]:
# 모범답안:
ans = (
    df[['neighbourhood_group', 'price']].groupby('neighbourhood_group')
                                        .agg(['mean', 'var', 'max', 'min'])
)

                          price
                           mean           var    max min
neighbourhood_group
Bronx                 87.496792  11386.885081   2500   0
Brooklyn             124.383207  34921.719135  10000   0
Manhattan            196.875814  84904.159185  10000   0
Queens                99.517649  27923.130227  10000  10
Staten Island        114.812332  77073.088342   5000  13

**50. neighbourhood_group 값에 따른 reviews_per_month 평균, 분산, 최대, 최소 값을 구하여라.**

In [ ]:
ans = (
    df[['neighbourhood_group', 'reviews_per_month']]
    .groupby('neighbourhood_group')
    .agg(['mean', 'var', 'max', 'min'])
)
ans

                    reviews_per_month
                                 mean       var    max   min
neighbourhood_group
Bronx                        1.837831  2.799878  10.34  0.02
Brooklyn                     1.283212  2.299040  14.00  0.01
Manhattan                    1.272131  2.651206  58.50  0.01
Queens                       1.941200  4.897848  20.94  0.01
Staten Island                1.872580  2.840895  10.12  0.02

**51. neighbourhood 값과 neighbourhood_group 값에 따른 price의 평균을 구하라.**

In [ ]:
ans = (
    df[['neighbourhood', 'neighbourhood_group', 'price']]
    .groupby(['neighbourhood', 'neighbourhood_group'])
    .mean(numeric_only=True)
    )

display(ans.head())

# 모범답안:
# df.groupby(['neighbourhood','neighbourhood_group']).price.mean()

                                        price
neighbourhood neighbourhood_group
Allerton      Bronx                 87.595238
Arden Heights Staten Island         67.250000
Arrochar      Staten Island        115.000000
Arverne       Queens               171.779221
Astoria       Queens               117.187778

**52. neighbourhood 값과 neighbourhood_group 값에 따른 price의 평균을 계층적 indexing 없이 구하라.**

In [ ]:
# 모범답안:
df.groupby(['neighbourhood','neighbourhood_group']).price.mean().unstack()

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,NaN,NaN,NaN,NaN
Arden Heights,NaN,NaN,NaN,NaN,67.25
Arrochar,NaN,NaN,NaN,NaN,115.00
Arverne,NaN,NaN,NaN,171.779221,NaN
Astoria,NaN,NaN,NaN,117.187778,NaN
...,...,...,...,...,...
Windsor Terrace,NaN,138.993631,NaN,NaN,NaN
Woodhaven,NaN,NaN,NaN,67.170455,NaN
Woodlawn,60.090909,NaN,NaN,NaN,NaN
Woodrow,NaN,NaN,NaN,NaN,700.00
Woodside,NaN,NaN,NaN,85.097872,NaN

**53. neighbourhood 값과 neighbourhood_group 값에 따른 price의 평균을 계층적 indexing 없이 구하고 nan 값은 -999값으로 채워라.**

In [ ]:
ans = (
    df.groupby(['neighbourhood', 'neighbourhood_group'])
      .price
      .mean()
      .unstack()
      .fillna(-999)
)

ans.head()

neighbourhood_group,Bronx,Brooklyn,Manhattan,Queens,Staten Island
neighbourhood,,,,,
Allerton,87.595238,-999.0,-999.0,-999.000000,-999.00
Arden Heights,-999.000000,-999.0,-999.0,-999.000000,67.25
Arrochar,-999.000000,-999.0,-999.0,-999.000000,115.00
Arverne,-999.000000,-999.0,-999.0,171.779221,-999.00
Astoria,-999.000000,-999.0,-999.0,117.187778,-999.00

**54. 데이터 중 neighbourhood_group 값이 Queens 값을 가지는 데이터들 중 neighbourhood 그룹별로 price 값의 평균, 분산, 최댓값, 최솟값을 구하라.**

In [ ]:
ans = (
    df[df['neighbourhood_group'] == 'Queens']
    .groupby('neighbourhood')
    .price
    .agg(['mean', 'var', 'max', 'min'])
)

ans.head()

# 주의! 난 agg() 안에 list 기호를 빼먹었다.

                     mean            var    max  min
neighbourhood
Arverne        171.779221   37383.411141   1500   35
Astoria        117.187778  122428.811196  10000   25
Bay Terrace    142.000000    6816.400000    258   32
Bayside        157.948718  166106.470985   2600   30
Bayswater       87.470588    2330.889706    230   45

**55. 데이터 중 neighbourhood_group 값에 따른 room_type 칼럼의 숫자를 구하고 neighbourhood_group 값을 기준으로 각 값의 비율을 구하여라.**

In [ ]:
# 이 문제는 조금 어려운 듯, 꼭 다시 해보기!
# 모범답안:
ans = (
    df[['neighbourhood_group', 'room_type']]
    .groupby(['neighbourhood_group', 'room_type'])
    .size()
    .unstack()
)

# ans.loc[:,:] = (ans.values / ans.sum(axis=1).values.reshape(-1,1))
# ans

# ans.sum(axis=1).values.reshape(-1,1)

ans.values

array([[  379,   652,    60],
       [ 9559, 10132,   413],
       [13199,  7982,   480],
       [ 2096,  3372,   198],
       [  176,   188,     9]])

## 04 Apply, Map

**56. 데이터를 불러오고 데이터 행과 열의 개수를 출력하라.**

In [ ]:
url='https://raw.githubusercontent.com/Datamanim/pandas/main/BankChurnersUp.csv'
df = pd.read_csv(url,index_col=0)

print('행:', df.shape[0])
print('열:', df.shape[1])
# index 칼럼 잡는 거 잊지 말기!

행: 10127
열: 18

**57. Income_Category의 카테고리를 map 함수를 이용하여 다음과 같이 변경하여 newIncome 칼럼에 매핑하라**
* Unknown : N
* Less than \$40K : a
* \$40K - \$60K : b
* \$60K - \$80K : c
* \$80K - \$120K : d
* \$120K + : e

In [ ]:
# 모범답안:
dict_category = {
    'Unknown'        : 'N',
    'Less than $40K' : 'a',
    '$40K - $60K'    : 'b',
    '$60K - $80K'    : 'c',
    '$80K - $120K'   : 'd',
    '$120K +'        : 'e'
}

df['newIncome'] = df.Income_Category.map(lambda x: dict_category[x])

df['newIncome'].head()

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

**58. Income_Category의 카테고리를 apply 함수를 이용하여 다음과 같이 변경하여 newIncome 칼럼에 매핑하라.**
* Unknown : N
* Less than \$40K : a
* \$40K - \$60K : b
* \$60K - \$80K : c
* \$80K - \$120K : d
* \$120K + : e

In [ ]:
df['newIncome'] = df.Income_Category.apply(lambda x: dict_category[x])

df['newIncome'].head()

# 그런데 사실 map이나 apply나 똑같이 해도 되는데
# 왜 모범답은 다르게 했는지 모르겠음
# 모범답안:
# def changeCategory(x):
#     if x =='Unknown':
#         return 'N'
#     elif x =='Less than $40K':
#         return 'a'
#     elif x =='$40K - $60K':
#         return 'b'
#     elif x =='$60K - $80K':
#         return 'c'
#     elif x =='$80K - $120K':
#         return 'd'
#     elif x =='$120K +' :
#         return 'e'

# df['newIncome']  =df.Income_Category.apply(changeCategory)

0    c
1    a
2    d
3    a
4    c
Name: newIncome, dtype: object

**59. Customer_Age의 값을 이용하여 나이 구간을 AgeState 칼럼으로 정의하라. \(0-9: 0, 10-19: 10, 20-29: 20, ... \) 각 구간의 빈도수를 출력하라.**

In [ ]:
# 모범답안이 훨씬 깔끔하다...
def agestate(age):
  if age >= 0 and age < 10:
    return 0
  elif age >= 10 and age < 20:
    return 10
  elif age >= 20 and age < 30:
    return 20
  elif age >= 30 and age < 40:
    return 30
  elif age >= 40 and age < 50:
    return 40
  elif age >= 50 and age < 60:
    return 50
  elif age >= 60 and age < 70:
    return 60
  elif age >= 70 and age < 80:
    return 70
  elif age >= 80 and age < 90:
    return 80

df['AgeState'] = df['Customer_Age'].apply(agestate)

display(df['AgeState'].head())
display(df['AgeState'].value_counts().sort_index())

# 모범답안:
# df['AgeState']  = df.Customer_Age.map(lambda x: x//10 *10)
# Ans = df['AgeState'].value_counts().sort_index()

0    40
1    40
2    50
3    40
4    40
Name: AgeState, dtype: int64

20     195
30    1841
40    4561
50    2998
60     530
70       2
Name: AgeState, dtype: int64

**60. Education_Level의 값중 Graduate단어가 포함되는 값은 1 그렇지 않은 경우에는 0으로 변경하여 newEduLevel 칼럼을 정의하고 빈도수를 출력하라.**

In [ ]:
df['newEduLevel'] = df['Education_Level'].apply(lambda x: 1 if 'Graduate' in x else 0)

display(df['newEduLevel'].value_counts().sort_index())

# 오오 모범답안이랑 똑같음!

0    6483
1    3644
Name: newEduLevel, dtype: int64

**61. Credit_Limit 칼럼 값이 4500 이상인 경우 1 그 외의 경우에는 모두 0으로 하는 newLimit 정의하라. newLimit 각 값들의 빈도수를 출력하라.**

In [ ]:
df['newLimit'] = df['Credit_Limit'].apply(lambda x: 1 if x >= 4500 else 0)
df['newLimit'].value_counts().sort_index()

0    5031
1    5096
Name: newLimit, dtype: int64

**62. Marital_Status 칼럼 값이 Married 이고 Card_Category 칼럼의 값이 Platinum인 경우 1, 그 외의 경우에는 모두 0으로 하는 newState 칼럼을 정의하라. newState의 각 값들의 빈도수를 출력하라.**

In [ ]:
df['newState'] = df.apply(
    lambda x: 1
    if (x['Marital_Status'] == 'Married' and x['Card_Category'] == 'Platinum')
    else 0
    , axis=1
    )
df['newState'].value_counts().sort_index()

# axis=1로 안 해줘서 처음에 오류 남 ㅅㅂ

0    10120
1        7
Name: newState, dtype: int64

**63. Gender 칼럼 값 M인 경우 male, F인 경우 female로 값을 변경하여 Gender 칼럼에 새롭게 정의하라. 각 값의 빈도를 출력하라.**

In [ ]:
df['Gender'] = df['Gender'].apply(lambda x: 'male' if x == 'M' else 'female')
df['Gender'].value_counts()

female    5358
male      4769
Name: Gender, dtype: int64

## 05 Time Series

**64. 데이터를 불러오고 각 열의 데이터 타입을 파악하라.**

In [ ]:
url = 'https://raw.githubusercontent.com/Datamanim/pandas/main/timeTest.csv'
df = pd.read_csv(url)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   object
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: float64(12), object(1)
memory usage: 667.8+ KB

**65. Yr_Mo_Dy을 판다스에서 인식할 수 있는 datetime64 타입으로 변경하라.**

In [ ]:
df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].astype('datetime64')
df.info()
# 모범답안: df.Yr_Mo_Dy = pd.to_datetime(df.Yr_Mo_Dy)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

**66. Yr_Mo_Dy에 존재하는 연도의 유일값을 모두 출력하라.**

In [ ]:
# 모범답안:
df.Yr_Mo_Dy.dt.year.unique()

array([2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978])

**67. Yr_Mo_Dy에 연도가 2061년 이상의 경우에는 모두 잘못된 데이터이다. 해당 경우의 값에서 100을 빼서 새롭게 날짜를 Yr_Mo_Dy 칼럼에 정의하라.**

In [ ]:
# 모범답안
def fix_century(x):
    year = x.year - 100 if x.year >= 2061 else x.year
    return pd.to_datetime(datetime.date(year, x.month, x.day))


df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century)
df.head()
# 나는 아래처럼 했다가 틀렸다.
# df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(lambda x: x.year - 100 if x.year >= 2061 else x)

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,12.62,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,14.96,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,10.04,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

**68. 연도별 각 칼럼의 평균값을 구하여라.**

In [ ]:
#모범답안:
df.groupby(df.Yr_Mo_Dy.dt.year).mean(numeric_only = True).head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644

**69. weekday 칼럼을 만들고 요일별로 매핑하라(월요일:0 ~ 일요일:6).**

In [ ]:
# 모범답안:
df['weekday'] = df['Yr_Mo_Dy'].dt.weekday
df.weekday.head()

0    6
1    0
2    1
3    2
4    3
Name: weekday, dtype: int64

**70. weekday 칼럼을 기준으로 주말이면 1 평일이면 0의 값을 가지는 WeekCheck 칼럼을 만들어라.**

In [ ]:
df['WeekCheck'] = df.weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
df.WeekCheck.head()

# 모범답안: df['WeekCheck']=df['weekday'].map(lambda x : 1 if x in [5,6] else 0)

0    1
1    0
2    0
3    0
4    0
Name: WeekCheck, dtype: int64

**71. 연도, 일자 상관없이 모든 칼럼의 각 달의 평균을 구하여라.**

In [ ]:
df.groupby(df.Yr_Mo_Dy.dt.month).mean(numeric_only=True)

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

**72. 모든 결측치는 칼럼 기준 직전의 값으로 대체하고 첫 번째 행에 결측치가 있을 경우 뒤에 있는 값으로 대체하라.**

In [ ]:
# 알았었는데 기억이 안 나서 전에 했던 거 참고함
df = df.fillna(method='ffill')
df = df.fillna(method='bfill')
df.isnull().sum()

# 모범답안: df = df.fillna(method='ffill').fillna(method='bfill')

Yr_Mo_Dy    0
RPT         0
VAL         0
ROS         0
KIL         0
SHA         0
BIR         0
DUB         0
CLA         0
MUL         0
CLO         0
BEL         0
MAL         0
dtype: int64

**73. 연도 - 월을 기준으로 모든 칼럼의 평균값을 구하여라.**

In [ ]:
df.groupby([df.Yr_Mo_Dy.dt.year, df.Yr_Mo_Dy.dt.month]).mean(numeric_only=True)
# 모범답안: df.groupby(df.Yr_Mo_Dy.dt.to_period('M')).mean()

                         RPT        VAL        ROS       KIL        SHA  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1         14.932581  12.084194  13.431613  7.736774  11.215806
         2         16.269286  14.975357  14.324643  9.116786  13.852143
         3         11.015806  11.296452  10.752903  7.137742  10.509355
         4         10.722667   9.427667   9.998000  5.830667   8.435000
         5          9.860968   8.735161  10.818065  5.892258   9.490323
...                      ...        ...        ...       ...        ...
1978     8          9.645161   8.259355   9.032258  4.502903   7.368065
         9         10.913667  10.895000  10.635000  5.725000  10.372000
         10         9.897742   8.670968   9.295806  4.721290   8.525161
         11        16.151667  14.802667  13.508000  7.317333  11.475000
         12        16.175484  13.748065  15.635161  7.094839  11.398710

                         BIR        DUB        CLA        MUL        CLO  \
Yr_Mo_Dy Yr_Mo_Dy
1961     1          8.588065  11.184839   9.270968   9.085806  10.107419
         2         10.937500  11.890714  11.846071  11.821429  12.714286
         3          8.866774   9.644194   9.829677  10.646129  11.251935
         4          6.495000   6.925333   7.094667   7.342333   7.237000
         5          6.574839   7.477097   8.177097   8.039355   8.499355
...                      ...        ...        ...        ...        ...
1978     8          5.935161   5.650323   5.417742   7.241290   5.536774
         9          9.278333  10.790333   9.583000  10.069333   8.939000
         10         6.774194   8.115484   7.337742   8.297742   8.243871
         11         8.743000  11.492333   9.657333  10.701333  10.676000
         12         9.241613  12.077419  10.194839  10.616774  11.028710

                         BEL        MAL
Yr_Mo_Dy Yr_Mo_Dy
1961     1         13.880968  14.703226
         2         18.583214  15.411786
         3         16.410968  15.637742
         4         11.147333  10.278333
         5         11.900323  12.011613
...                      ...        ...
1978     8         10.466774  12.054194
         9         15.680333  19.391333
         10        13.776774  17.150000
         11        17.404667  20.723000
         12        13.859677  21.371613

[216 rows x 12 columns]

**74. RPT 칼럼의 값을 일자별 기준으로 이전 행과의 값 차이를 구하여라.**

In [ ]:
# 모범답안:
df['RPT'].diff().head()

0     NaN
1   -0.33
2    3.79
3   -7.92
4    2.75
Name: RPT, dtype: float64

**75. RPT와 VAL의 칼럼을 일주일 간격으로 각각 이동평균한 값을 구하여라.**
&nbsp; &nbsp; &nbsp; &nbsp;(지난 7일 동안의 평균을 구하여라.)

In [ ]:
# 모범답안:
df[['RPT', 'VAL']].rolling(7).mean()

            RPT        VAL
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
6569  11.868571   9.362857
6570  11.904286   9.595714
6571  13.017143  10.011429
6572  13.285714  10.118571
6573  14.951429  11.801429

[6574 rows x 2 columns]

**서울시 미세먼지 데이터 예제**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/seoul_pm.csv')

In [ ]:
df.head()

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15:15,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15:14,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15:13,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15:12,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15:11,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

**76. 년-월-일:시 칼럼을 pandas에서 인식할 수 있는 datetime 형태로 변경하라. 서울시의 제공데이터의 경우 0시가 24시로 표현된다.**

In [ ]:
# 모범답안:
def change_date(x):
    hour = x.split(':')[1]
    date = x.split(":")[0]

    if hour =='24':
        hour ='00:00:00'

        FinalDate = pd.to_datetime(date +" "+hour) +datetime.timedelta(days=1)

    else:
        hour = hour +':00:00'
        FinalDate = pd.to_datetime(date +" "+hour)

    return FinalDate

df['(년-월-일:시)'] = df['(년-월-일:시)'].apply(change_date)
df.head()

,(년-월-일:시),PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스
0,2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003
1,2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003
2,2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004
3,2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004
4,2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005

**77. 일자별 영어요일 이름을 dayName 칼럼에 저장하라.**

In [ ]:
# 모범답안:
df['dayName'] = df['(년-월-일:시)'].dt.day_name()
df['dayName'].head()

0    Saturday
1    Saturday
2    Saturday
3    Saturday
4    Saturday
Name: dayName, dtype: object

**78. 요일별 각 PM10 등급의 빈도수를 파악하라.**

In [ ]:
# 내 답안:
df.groupby('dayName')['PM10등급'].value_counts()
# 모범답안:
Ans1 = df.groupby(['dayName','PM10등급'],as_index=False).size()
Ans2 = Ans1.pivot(index='dayName',columns='PM10등급',values='size').fillna(0)

**79. 시간이 연속적으로 존재하며 결측치가 없는지 확인하라.**

In [ ]:
# 모범답안:
# 시간을 차분했을 경우 첫 값은 nan, 이후 모든 차분값이 동일하면 연속이라 판단
check = len(df['(년-월-일:시)'].diff().unique())
if check == 2:
  print(True)
else:
  print(False)

True

**80. 오전 10시와 오후 10시(22시)의 PM10의 평균값을 각각 구하여라.**

In [ ]:
# 모범답안:
df.groupby(df['(년-월-일:시)'].dt.hour).mean(numeric_only=True).iloc[[10, 22], 0]

(년-월-일:시)
10    70.384615
22    69.941176
Name: PM10, dtype: float64

**81. 날짜 칼럼을 index로 만들어라.**

In [ ]:
df.set_index('(년-월-일:시)', drop=True, inplace=True)

df.head()

,PM10등급,PM10,PM2.5등급,PM2.5,오존등급,오존,이산화질소등급,이산화질소,일산화탄소등급,일산화탄소,아황산가스등급,아황산가스,dayName
(년-월-일:시),,,,,,,,,,,,,
2021-05-15 15:00:00,보통,47.0,보통,19.0,좋음,0.017,좋음,0.023,좋음,0.4,좋음,0.003,Saturday
2021-05-15 14:00:00,보통,43.0,보통,20.0,좋음,0.024,좋음,0.019,좋음,0.3,좋음,0.003,Saturday
2021-05-15 13:00:00,보통,34.0,보통,24.0,보통,0.035,좋음,0.017,좋음,0.4,좋음,0.004,Saturday
2021-05-15 12:00:00,보통,41.0,보통,27.0,보통,0.037,좋음,0.020,좋음,0.4,좋음,0.004,Saturday
2021-05-15 11:00:00,보통,51.0,보통,34.0,보통,0.033,좋음,0.023,좋음,0.4,좋음,0.005,Saturday

**82. 데이터를 주 단위로 뽑아서 최소, 최대, 평균, 표준편차를 구하여라.**

In [ ]:
# 모범답안:
df.resample('W').agg(['min', 'max', 'mean', 'std']).head()

<ipython-input-10-ef47a4e776ee>:2: FutureWarning: ['PM10등급', 'PM2.5등급', '오존등급', '이산화질소등급', '일산화탄소등급', '아황산가스등급', 'dayName'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.resample('W').agg(['min', 'max', 'mean', 'std']).head()

            PM10                               PM2.5                    \
             min    max       mean         std   min    max       mean
(년-월-일:시)
2021-03-28   6.0  160.0  72.747368   43.345462   4.0  113.0  44.705263
2021-04-04   3.0  598.0  97.148810  129.911976   1.0  120.0  23.168675
2021-04-11  17.0  102.0  41.059524   16.325911   7.0   70.0  21.761905
2021-04-18   3.0  367.0  48.180723   43.254468   2.0   38.0  17.066265
2021-04-25  17.0  126.0  55.119048   26.659936   7.0   61.0  26.392857

                          오존         ...     이산화질소           일산화탄소       \
                  std    min    max  ...      mean       std   min  max
(년-월-일:시)                            ...
2021-03-28  29.551928  0.002  0.085  ...  0.044579  0.023722   0.3  1.4
2021-04-04  22.399578  0.003  0.055  ...  0.027929  0.014978   0.3  0.9
2021-04-11  11.479343  0.009  0.070  ...  0.022583  0.009562   0.3  0.7
2021-04-18   7.867952  0.002  0.070  ...  0.023753  0.013553   0.3  0.6
2021-04-25  13.094788  0.006  0.090  ...  0.028571  0.014640   0.3  0.8

                                아황산가스
                mean       std    min    max      mean       std
(년-월-일:시)
2021-03-28  0.611579  0.232408  0.002  0.006  0.003274  0.000961
2021-04-04  0.445833  0.135741  0.002  0.004  0.002732  0.000541
2021-04-11  0.389286  0.087573  0.002  0.004  0.002744  0.000569
2021-04-18  0.386747  0.084954  0.002  0.004  0.002464  0.000579
2021-04-25  0.457143  0.122142  0.001  0.011  0.003631  0.001763

[5 rows x 24 columns]

## 06 Pivot

**국가별 5세 이하 사망비율 통계**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/under5MortalityRate.csv')

**83. indicator 칼럼을 삭제하고 First Tooltip 칼럼에서 신뢰구간에 해당하는 표현을 지워라.**

In [ ]:
# indicator 칼럼 삭제:
df.drop(columns=['Indicator'], inplace=True)
# 모범답안 - 신뢰구간 표현 지우기:
df['First Tooltip'] = df['First Tooltip'].map(lambda x: float(x.split("[")[0]))

df.head()

      Location  Period        Dim1  First Tooltip
0  Afghanistan    2019  Both sexes          60.27
1  Afghanistan    2019        Male          63.83
2  Afghanistan    2019      Female          56.57
3  Afghanistan    2018  Both sexes          62.54
4  Afghanistan    2018        Male          66.08

**84. 연도가 2015년 이상, Dim1 칼럼이 Both sexes인 경우만 추출하라.**

In [ ]:
condition = (df['Period'] >= 2015) & (df['Dim1'] == 'Both sexes')
df[condition]

          Location  Period        Dim1  First Tooltip
0      Afghanistan    2019  Both sexes          60.27
3      Afghanistan    2018  Both sexes          62.54
6      Afghanistan    2017  Both sexes          64.94
9      Afghanistan    2016  Both sexes          67.57
12     Afghanistan    2015  Both sexes          70.44
...            ...     ...         ...            ...
29943  Timor-Leste    2019  Both sexes          44.22
29946  Timor-Leste    2018  Both sexes          45.62
29949  Timor-Leste    2017  Both sexes          47.27
29952  Timor-Leste    2016  Both sexes          49.01
29955  Timor-Leste    2015  Both sexes          50.76

[860 rows x 4 columns]

**85. 84번 문제에서 추출한 데이터로 아래와 같이 나라에 따른 연도별 사망률을 데이터 프레임화 하라.**

In [ ]:
# 모범답안:
df[condition].pivot(index='Location', columns='Period', values='First Tooltip')

Period                                      2015   2016   2017   2018   2019
Location
Afghanistan                                70.44  67.57  64.94  62.54  60.27
Albania                                     9.57   9.42   9.42   9.53   9.68
Algeria                                    25.18  24.79  24.32  23.81  23.26
Andorra                                     3.53   3.37   3.22   3.09   2.97
Angola                                     88.20  84.21  80.62  77.67  74.69
...                                          ...    ...    ...    ...    ...
Syrian Arab Republic                       23.18  23.27  22.97  22.11  21.53
Tajikistan                                 37.75  36.82  35.81  34.80  33.78
Thailand                                   10.80  10.32   9.86   9.42   9.01
The former Yugoslav Republic of Macedonia  12.97  11.97   9.94   7.83   6.12
Timor-Leste                                50.76  49.01  47.27  45.62  44.22

[172 rows x 5 columns]

**86. Dim1에 따른 연도별 사망비율의 평균을 피벗테이블로 나타내어라.**

In [ ]:
# 모범답안:
df.pivot_table(index='Dim1', columns='Period', values='First Tooltip', aggfunc='mean')

Period,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Dim1,,,,,,,,,,,,,,,,,,,,,
Both sexes,147.700816,155.537544,157.811094,156.147206,154.539857,155.797179,159.241163,156.170114,150.813222,150.574000,...,37.718488,35.573663,34.290988,33.099360,32.053314,31.012093,29.956337,29.030465,28.083837,27.191744
Female,140.909796,149.210175,151.516094,150.250882,148.688286,149.843205,153.048721,149.988295,144.719667,144.451474,...,34.953023,32.877616,31.654070,30.521337,29.524302,28.544360,27.542035,26.675291,25.782616,24.945349
Male,154.151224,161.538246,163.760781,161.742059,160.081000,161.456923,165.089535,162.015000,156.573556,156.375053,...,40.340174,38.140291,36.793081,35.543663,34.446105,33.354302,32.242616,31.273198,30.283023,29.350349

**올림픽 메달리스트 정보 데이터**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/winter.csv')

**87. 데이터프레임에서 Country 칼럼이 한국 KOR 인 데이터만 추출하라.**

In [ ]:
df[df['Country'] == 'KOR']

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
2652,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,1000M,Bronze
2653,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,1000M,Gold
2671,1992,Albertville,Skating,Short Track Speed Skating,"KIM, Ki-Hoon",KOR,Men,5000M Relay,Gold
2672,1992,Albertville,Skating,Short Track Speed Skating,"LEE, Jun-Ho",KOR,Men,5000M Relay,Gold
2673,1992,Albertville,Skating,Short Track Speed Skating,"MO, Ji-Soo",KOR,Men,5000M Relay,Gold
...,...,...,...,...,...,...,...,...,...
5528,2014,Sochi,Skating,Short Track Speed Skating,"PARK, Seung-Hi",KOR,Women,500M,Bronze
5544,2014,Sochi,Skating,Speed skating,"JOO, Hyong Jun",KOR,Men,Team Pursuit,Silver
5545,2014,Sochi,Skating,Speed skating,"KIM, Cheol Min",KOR,Men,Team Pursuit,Silver
5546,2014,Sochi,Skating,Speed skating,"LEE, Seung Hoon",KOR,Men,Team Pursuit,Silver
5565,2014,Sochi,Skating,Speed skating,"LEE, Sang Hwa",KOR,Women,500M,Gold

**88. 한국 올림픽 메달리스트 데이터에서 연도에 따른 메달 개수를 데이터프레임화하라.**

In [ ]:
# 모범답안:
df[df.Country == 'KOR'].pivot_table(index='Year', columns='Medal', aggfunc='size').fillna(0)

Medal  Bronze  Gold  Silver
Year
1992      1.0   5.0     1.0
1994      1.0   8.0     1.0
1998      2.0   6.0     4.0
2002      0.0   5.0     2.0
2006      2.0  14.0     3.0
2010      2.0   6.0    10.0
2014      2.0   7.0     5.0

**89. 전체 데이터에서 sport 종류에 따른 성별 수를 구하여라.**

In [ ]:
df.pivot_table(index='Sport', columns='Gender', aggfunc='size').fillna(0)

Gender       Men  Women
Sport
Biathlon     270    150
Bobsleigh    416     36
Curling       97     75
Ice Hockey  1231    305
Luge         135     45
Skating      665    564
Skiing      1130    651

**90. 전체 데이터에서 Discipline 종류에 따른 메달 수를 구하여라.**

In [ ]:
df.pivot_table(index='Discipline', columns='Medal', aggfunc='size').fillna(0)

Medal                      Bronze  Gold  Silver
Discipline
Alpine Skiing                 141   143     144
Biathlon                      139   140     141
Bobsleigh                     147   134     141
Cross Country Skiing          263   264     262
Curling                        56    58      58
Figure skating                118   122     119
Freestyle Skiing               34    34      34
Ice Hockey                    512   510     514
Luge                           60    62      58
Nordic Combined                55    55      55
Short Track Speed Skating      96    97      97
Skeleton                       10    10      10
Ski Jumping                    68    69      70
Snowboard                      30    30      30
Speed skating                 190   193     197

## 07 Merge, Concat

**국가별 5세 이하 사망비율 통계 데이터 변형**

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/pandas/main/mergeTEst.csv',index_col= 0)

In [ ]:
df1 = df.iloc[:4, :]
df2 = df.iloc[4:, :]

display(df1)
display(df2)

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.08,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.79,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.85,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.49,3.330,3.187,3.060,2.933,2.827

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

**91. df1과 df2 데이터를 하나의 데이터 프레임으로 합쳐라.**

In [ ]:
pd.concat([df1, df2])

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,55.080,53.107,51.267,49.560,47.983,46.453
Albania,11.803,10.807,9.943,9.267,8.790,8.493,8.363,8.363,8.453,8.597
Algeria,23.540,22.907,22.450,22.117,21.850,21.587,21.257,20.850,20.407,19.930
Andorra,4.240,4.033,3.843,3.667,3.490,3.330,3.187,3.060,2.933,2.827
Angola,75.713,71.280,67.233,63.570,60.430,57.757,55.510,53.460,51.757,50.093
Antigua and Barbuda,8.667,8.223,7.807,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,12.887,12.380,11.840,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,16.497,15.677,14.897,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,3.993,3.803,3.623,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,3.573,3.463,3.333,3.210,3.113,3.043,2.987,2.943,2.897,2.843

**92. df3와 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 둘 다 포함하고 있는 연도에 대해서만 고려한다.**   
&nbsp; &nbsp; &nbsp; (concat 함수를 사용하라.)

In [ ]:
df3 = df.iloc[:2,:4]
df4 = df.iloc[5:,3:]

display(df3)
display(df4)

display(pd.concat([df3, df4], join='inner'))

               2010    2011    2012    2013
Location
Afghanistan  64.023  61.640  59.367  57.170
Albania      11.803  10.807   9.943   9.267

                       2013    2014    2015    2016    2017    2018    2019
Location
Antigua and Barbuda   7.420   7.070   6.757   6.483   6.230   6.000   5.783
Argentina            11.283  10.733  10.203   9.683   9.177   8.680   8.227
Armenia              14.170  13.477  12.817  12.183  11.583  11.007  10.497
Australia             3.467   3.343   3.253   3.183   3.137   3.090   3.047
Austria               3.210   3.113   3.043   2.987   2.943   2.897   2.843

                       2013
Location
Afghanistan          57.170
Albania               9.267
Antigua and Barbuda   7.420
Argentina            11.283
Armenia              14.170
Australia             3.467
Austria               3.210

**93. df3와 df4 데이터를 하나의 데이터 프레임으로 합쳐라. 모든 칼럼을 포함하고, 결측치는 0으로 대체한다.**

In [ ]:
display(pd.concat([df3, df4], join='outer').fillna(0))

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Location,,,,,,,,,,
Afghanistan,64.023,61.640,59.367,57.170,0.000,0.000,0.000,0.000,0.000,0.000
Albania,11.803,10.807,9.943,9.267,0.000,0.000,0.000,0.000,0.000,0.000
Antigua and Barbuda,0.000,0.000,0.000,7.420,7.070,6.757,6.483,6.230,6.000,5.783
Argentina,0.000,0.000,0.000,11.283,10.733,10.203,9.683,9.177,8.680,8.227
Armenia,0.000,0.000,0.000,14.170,13.477,12.817,12.183,11.583,11.007,10.497
Australia,0.000,0.000,0.000,3.467,3.343,3.253,3.183,3.137,3.090,3.047
Austria,0.000,0.000,0.000,3.210,3.113,3.043,2.987,2.943,2.897,2.843

**94. df5와 df6 데이터를 하나의 데이터 프레임으로 merge함수를 이용하여 합쳐라. Algeria 칼럼을 key로 하고 두 데인터 모두 포함하는 데이터만 출력하라.**

In [ ]:
df5 = df.T.iloc[:7,:3]
df6 = df.T.iloc[6:,2:5]

display(df5)
display(df6)

display(pd.merge(left=df5, right=df6, how='inner', on='Algeria'))

Location  Afghanistan  Albania  Algeria
2010           64.023   11.803   23.540
2011           61.640   10.807   22.907
2012           59.367    9.943   22.450
2013           57.170    9.267   22.117
2014           55.080    8.790   21.850
2015           53.107    8.493   21.587
2016           51.267    8.363   21.257

Location  Algeria  Andorra  Angola
2016       21.257    3.187  55.510
2017       20.850    3.060  53.460
2018       20.407    2.933  51.757
2019       19.930    2.827  50.093

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              51.267    8.363   21.257    3.187   55.51

**95. df5와 df6 데이터를 하나의 데이터 프레임으로 merge 함수를 이용하여 합쳐라. Algeria 칼럼을 key로 하고 합집합으로 합쳐라.**

In [ ]:
display(pd.merge(df5, df6, how='outer', on='Algeria'))

Location  Afghanistan  Albania  Algeria  Andorra  Angola
0              64.023   11.803   23.540      NaN     NaN
1              61.640   10.807   22.907      NaN     NaN
2              59.367    9.943   22.450      NaN     NaN
3              57.170    9.267   22.117      NaN     NaN
4              55.080    8.790   21.850      NaN     NaN
5              53.107    8.493   21.587      NaN     NaN
6              51.267    8.363   21.257    3.187  55.510
7                 NaN      NaN   20.850    3.060  53.460
8                 NaN      NaN   20.407    2.933  51.757
9                 NaN      NaN   19.930    2.827  50.093